<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Model Parameters</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'mlhome' %}">Models: Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/govind-thakur-494a394a/">LinkedIn</a>
            <a class="nav-item nav-link" href="https://github.com/Thakur-Govind">GitHub</a>
            <a class="nav-item nav-link" href="mailto:govind.thakur11@gmail.com">Mail</a>
            <a class="nav-item nav-link" href="https://drive.google.com/file/d/1TF0OUCmqjxHWE0ibXmj1pFeXAMYXJLRI/view?usp=sharing">Resume</a>
        </div>
      </div>
    </nav>
  </header>
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Input parameters for the model</h1>
        {% if name != 'Linear Regression' %}
        <p class="lead text-muted">Now that you've picked a model, select appropriate values for the parameters below, and click the submit button!</p>
        <p>If you wish to go with the default values(seen in the placeholders), just go ahead and hit the submit button!</p>
        {% else %}
        <p class="lead text-muted">You have selected the Linear Regression Model, and currently we're not gonna tune it. Just click the submit button!</p>
        {% endif %}
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">
        <form action  = "/model//{{model_id}}" method = "POST">
        {% csrf_token %}
        {% if name != 'Linear Regression' %}
        Parameter 1: {{par1}}<br>
        <input type = "text" name = "p1" placeholder="default1">
        <br>
        <br>
        Parameter 2: {{par2}}<br>
        <input type = "text" name = "parameter2" placeholder="default2">
        <br>
        <br>
        {% endif %}
        <button type = "submit"> Submit </button>
        </form>
        </div>
      </div>
  </main>
  <footer class="text-muted">
    <div class="container text-center">
      <p>© Govind Thakur {% now "Y" %}</p>
      </div>
  </footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
